
<div class="more"><a href="https://orion-miller.github.io/footprints/">mechanical</a></div>
<div class="more"><a href="https://orion-miller.github.io/footprints/">Mechanical</a></div>
<span class="more"><a href="https://orion-miller.github.io/footprints/">electrical</a></span>
<span class="more"><a href="https://orion-miller.github.io/footprints/">Electrical</a></span>
<br>

{%- assign posts = paginator.posts | default: site.posts -%}
{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    <!-- {{ post.excerpt }} -->
    <img src="{{ post.excerpt_img_url }}" alt="Excerpt Image">
    <div class="more"><a href="{{ post.url | relative_url }}">read more</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
