<header>
  <h1><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></h1>

  {% assign tag_string = "" %}
  {% for tag in post.tags %}
    {% assign tag_string = tag_string | concat: tag | concat: ", " %}
  {% endfor %}
  <p><em>Tags: {{ tag_string }}</em></p> 
  <!-- <p><em>Tags: {{ include.post.tags[0] }}</em></p>  -->

  {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: date_format }}</time>
</header>
